@font-face {
  font-family: 'FontinSans';
  src: url('../fonts/FontinSansCR-Regular.woff') format('woff'),
       url('../fonts/FontinSansCR-Regular.ttf') format('truetype'),
       url('../fonts/FontinSansCR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('../fonts/Fontin-Regular.woff') format('woff'),
       url('../fonts/Fontin-Regular.ttf') format('truetype'),
       url('../fonts/Fontin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontinSans';
  src: url('../fonts/FontinSansCR-Bold.woff') format('woff'),
  url('../fonts/FontinSansCR-Bold.ttf') format('truetype'),
  url('../fonts/FontinSansCR-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('../fonts/Fontin-Bold.woff') format('woff'),
       url('../fonts/Fontin-Bold.ttf') format('truetype'),
       url('../fonts/Fontin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 16px;
}

body {
  font-family: 'FontinSans', sans-serif;
  font-size: .85rem;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Fontin', serif;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.container {
  max-width: 100%;
}

.img_container,
.video_container {
  max-width: 50%;
  height: auto;
  overflow: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

main div.container:nth-child(2n+1) {
  background-color: lightgrey;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .container {
  height: 4rem;
}

.logo {
  font-family: "Fontin";
  font-weight: bold;
  font-size: 1.15rem;
  flex-grow: 1;
  margin-left: 1.5rem;
  height: 2rem;
}

header .right {
  margin-right: 1.5rem;
}

header li {
  padding: 1rem;
}

main,
footer {
  position: relative;
  top: 4rem;
}
