@font-face {
  font-family: 'FontinSans';
  src: url('../fonts/FontinSansCR-Regular.woff') format('woff'),
       url('../fonts/FontinSansCR-Regular.ttf') format('truetype'),
       url('../fonts/FontinSansCR-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('../fonts/Fontin-Regular.woff') format('woff'),
       url('../fonts/Fontin-Regular.ttf') format('truetype'),
       url('../fonts/Fontin-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontinSans';
  src: url('../fonts/FontinSansCR-Bold.woff') format('woff'),
  url('../fonts/FontinSansCR-Bold.ttf') format('truetype'),
  url('../fonts/FontinSansCR-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Fontin';
  src: url('../fonts/Fontin-Bold.woff') format('woff'),
       url('../fonts/Fontin-Bold.ttf') format('truetype'),
       url('../fonts/Fontin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'FontinSans', sans-serif;
  font-size: .85rem;
  font-style: normal;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: 'Fontin', serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.25;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.container {
  max-width: 100%;
}

.img_container,
.video_container {
  height: auto;
  overflow: hidden;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

main div.container:nth-child(2n+1) {
  background-color: lightgrey;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: white;
}

header .container {
  height: 4rem;
  justify-content: space-between;
}

.logo {
  font-family: "Fontin";
  font-weight: bold;
  font-size: 1.15rem;
  margin-left: 1.5rem;
  height: 2rem;
}

header .right {
  margin-right: 1.5rem;
}

header li {
  padding: 1rem;
}

main,
footer {
  position: relative;
  top: 4rem;
}

/* Refactored code from Banner, Information and Thesis sections */

.left {
  margin: 2rem 1.5rem;
  max-width: 60%;
}

.right {
  max-width: 40%;
}

@media only screen and (max-width: 1140px) {
  .left {
    max-width: 55%;
  }

  .right {
    max-width: 45%;
  }
}

/* Banner */

#banner {
  font-weight: bold;
}

#banner .right {
  max-width: 20rem;
}

#banner p {
  font-size: 1.25rem;
  margin: 1rem 0;
}

#banner .button {
  display: block;
  padding: .5rem 0;
  border-radius: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
}

.changeable_features {
  background-color: white;
}

.changeable_features:hover {
  background-color: grey;
}


/* Refactored code from Information, Courses and Thesis sections */

#information,
.courses,
#thesis .container {
  align-items: stretch;
}

h2 {
  text-align: center;
  padding-top: 2rem;
}

/* Refactored code from Information and Thesis sections */

.right li .img_container {
  margin: 1rem;
  max-width: 35%;
}


.right li .text {
  max-width: 65%;
}

.right li .text p {
  margin: .5rem 0;
}


/* Information */

#information .left h2{
  text-align: left;
}

#information p {
  margin: 2rem 0;
}

#information .right {
  border-left: 1px lightgrey solid;
}

#information .right ul li{
  border: 1px lightgrey solid;
  border-left: none;
}

#information .right ul li:first-child{
  margin-top: 1rem;
  border-top: none;
}

#information .right ul li:last-child{
  border-bottom: none;
  background-color: lightgrey;
}

/* Courses */

.courses {
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 4.5rem;
}

.course {
  margin: 1.5rem 2rem;
  width: 25%;
  max-height: auto;
  background-color: white;
}

.course .text{
  max-width: 85%;
  padding: 1rem 0 1.5rem 1rem;
}

.course h3 {
  padding-bottom: 1rem;
}

.course span {
  display: block;
  padding-bottom: .5rem;
}

/* Thesis */

#thesis .left h3{
  margin: 1.5rem 0;
}

#thesis .left p{
  margin-bottom: 2rem;
}

#thesis .right {
  max-width: 40%;
}

#thesis .right ul li:first-child{
  background-color: lightgrey;
  margin-top: 2rem;
}

/* Footer */

footer .container {
  height: 3.5rem;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer li {
  padding: 1rem;
}
